services:
  omeka-s:
    build: ./
    networks:
      - my-network
    ports:
      - "9003:80"
    volumes:
      - ./files/:/var/www/html/files/
      - ./modules/OaiPmhHarvester/:/var/www/html/modules/OaiPmhHarvester/
      - ./modules/BrowseBlock/:/var/www/html/modules/BrowseBlock/
      - ./themes/:/var/www/html/themes/
      - ./config/:/var/www/html/config/
    restart: "no"

networks:
  my-network:
    external:
      name: dev-network    