/* main: style.scss */
body{
  font-size: 14px;
}

h5.title{
  font-weight: 600;
}

.subtitle{
  font-weight: 600;
}

.navbar{
  .navbar-item img {
    max-height: 40px;
  }
  .navigation{
    display:flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;

    li{
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: $family-secondary;
      display: block;
      line-height: 1.5;
      padding: 0.5rem 0.75rem;
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;
      font-size:0.9rem;
      font-weight: 400;

      @media screen and (min-width: 1024px){
        align-items: center;
        display: flex;
      }

      a{
        color: #6f6b6b;
      }
    }
  }
}

.section-head{
  color: $primary;
}

#site-title-text {
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  color: #444;
  font-size: 39px;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: .1em;
  padding-left: 0px;
  padding-top:3.3rem;   
  
  a {
    text-decoration: none;
    color: #cc6633;
  }

  #description {
    float: right;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 19px;
    width: 130px;
  }
}


.logo-1{
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  line-height: 17px;
  font-weight: bold;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 3px;

  img{
    margin-bottom: 5px;
    height: 40px;;
  }
}

.left-nav .navigation{
  li{
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $family-secondary;
    display: block;
    line-height: 1.5;
    padding: 0;
    position: relative;
    height: 100%;
    font-weight: 400;
    margin:5px 0;

    a{
      color: #6f6b6b;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

//modal-menu
.field.has-addons .control:not(:last-child){
  width: 100%;
}

.modal{
  .input{
    padding:1rem;
    border-radius: 0;
  }

  .navigation{
    padding-top: 1rem;

    li{
      padding-top: 0.5rem;
      font-family: $family-secondary;
      font-style: italic;
      font-size: 1.2rem;

      ul{
        padding-top: 0;
        padding-left: 1rem;
      }
    }
    a{
      color:white;
    }
  }
}

.terms-modal{
  .modal-content{
    background: white;
    padding:1.5rem;
  }
}

#content{
  //padding: 2rem 0;
}

.reference-block{
}

.reference-record{
  a{
    color: $text;
  }

  .recursive-list{
    padding-left: 1.5rem;
  
    li{
      a{
        color: $primary;
      }
      list-style: circle;
    }
  }
}

.spotlight{
  color: $primary !important;

  .card{
    color: $primary;
  }

  strong{
    color: $primary;
  }
}

//breadcrumb
.breadcrumb-section{
  padding-bottom: 0rem;

  .breadcrumb{
    li::before {
      padding-right: 0.75em;
    }
  }
}

//catches blocks without templates like html & pageTitle
.page{
  h2{
    font-size: 1rem;
    font-family: $family-primary;
    font-weight: 400;
    color: $primary;
    margin-bottom: 2rem;
  }
}

//hero
.hero-body{
  //background: linear-gradient(355deg, rgba(74,44,64,0.3) 0%, rgba(74,44,64,0.8) 100%);
  .subtitle, .title {
    color: #fff !important;
  }

  .hero-text{
    max-width: 600px;
    color:white;
    font-weight: 600;

    .link{
      margin-top: 1rem;
      text-align: right;

      a{
        font-weight: bold;

        i{
          margin-right: 6px;
        }
      }
    }
  }
}

//card
.card,.featured-block,.box{
  //box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.08);
}
.card-header{
  box-shadow: none;
  .card-header-title{
    padding: 1rem 0;
  }
}

.card-content{
  padding: 0rem 0rem 1.5rem 0rem;
}

.card-footer-item{
  justify-content: right;
}

.card-bg-img-2{
  height: 200px;
}
.card-bg-img-3{
  height: 250px;
}

//overlay columns
.featured-section{
  padding: 0;
  padding-bottom: 2.5rem;
}
.featured-block{
  min-height: 320px;
  position: relative;
  background-color: rgba($primary,1);
  transition: all 400ms ease-out;

  &:hover{
    background: rgba($primary,1);
    
  }

  a{color:white;}

  .content-type{
    font-weight: 600;
  }

  .overlay2{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(black,0.2);
  }

  .overlay{
    position: absolute;
    bottom: 0;
    padding: 2rem;

    .title{
      max-width: 350px;

      a{
        border-bottom:3px solid white;
      }
    }

    p, .subtitle{
      color:white;
      font-weight: 600;
    }
  }
}

.datering{
  font-size: 0.8rem;
}

.color-section{
  background:#f0f0f0;
  padding:3rem 1.5rem !important;
  margin-bottom:3rem;
}

.pagination{
  justify-content: end;
  span{
    padding-left: 0.8rem;
    font-style: italic;
  }
  form{
    padding: 0 5px;
    input{
      padding:3px;
    }

    span{
      font-style: normal;
      padding:0;
    }
  }
}

.page-content{
  ul{
    list-style:disc;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
  }

  h4{
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}

//search
#search-filters .filter select:nth-of-type(1) {
  min-width: 62px !important;
}

#form-search{
  margin-bottom:1.5rem;
}

.form-search button.search-submit {
  float:none !important;
}

#search-filters{
  legend{
    display: none;
  }
  margin: 0 !important;

  .filter{
    margin-left:0 !important;
    padding-left: 0 !important;
  }
}

#search-filters .filter select, #search-filters .filter input {
  margin-top: 0;
  margin-right: 3px !important;
  margin-left: 3px !important;
  min-width: 0;
  padding:0.6rem;
  max-width: 300px;
}

#search-filters .filter select:nth-of-type(1) {
  margin-left: 0 !important;
}

.facets .filter select {
  margin-bottom: 0 !important;
}  

#advanced-search-form input[type="text"], #advanced-search-form select{
  border: 1px solid rgba(0,0,0,.15);
}

.form-search button.search-submit{
  background-color: #f05133;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  border-width: 1px;
  font-size:.75em;
  border-radius:2px;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  line-height: 1.5;
}

.facets{
  padding: 1rem;
  background: #f1f1f1;

  ul{
    font-size: 0.9rem;
  }

  .search-facet > h3{
    margin-bottom: 0.2rem;
  }
  .search-facet-items{
    margin-bottom: 0.5rem;
  }

  .more-link, .less-link{
    i{
      margin-right: 9px;
    }
  }
}



.list {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

.list{
  display:block !important;

  .grid-col{
    width:100%;
    display: block;

    .grid-item{
      display:flex;
      .resource-thumbnail{
        padding-right:1rem;
        max-width: 100px;
      }
    }
  }
}

.placeholder{
  height: 100%;
  min-height: 100px;
  border: 1px dashed $primary;
}

.values{
  .value{
    margin-bottom: 0.5rem;
  }
}

#form-search{
  margin-bottom: 2rem;
  margin: 1rem 0;

  #q{
    padding: 0.7rem;
    border: 1px solid rgba(#898989,0.6);
    box-shadow: none;
    width: 100%;
  }

  #q:focus-visible{
    box-shadow: none;
    outline: none;
    border-color: rgba($primary,0.6);
  }

  .field{    
    margin: 0;
    .field-meta{
      display: none;
    }
  }  

  .field:first-of-type{
    width: 60%;
  }

  .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    padding:0.5rem;
    height: auto;
   }

  .chosen-choices{
    padding: 0.5rem;
    border:none;
    box-shadow: none;
    background-image: none;
    max-width: 500px;
    background: #f7f7f7;
  }

  .search-choice{
    border-bottom: 2px solid $primary;
    padding:0.5rem;
    padding-right:1.3rem;
    background: white;
    color: #898989;

  }

  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
    top:0.5rem;
    color: #898989;
  }

  #submit{
    border-radius: 0;
    padding:0.74rem;
    background: rgba($primary,1);
    color: white;
    border:none;
    cursor: pointer;
  }
}

.search-header, .search-footer{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid $text;
  .search-sort{
    padding-left: 2rem;
  }

  .search-sort{
    select{
      background: none;
      border:none;
      border-bottom: 2px solid $text;
      cursor: pointer;
    }
  }

  .pagination{
    font-size: 0.8rem;;
  }
}

.search-facet-item a {
  display: inline-block;
  position: relative;
  padding-left: 18px;
}

.search-facet-item a::before {
  display: inline-block;
  font-family: 'Font Awesome 5 Free';
  width: 1.5em;
  content: "\f0c8";
  height: 10px;
  text-align:right;
    padding-right:10px;
    width:10px;
    position: absolute;
    left: 0;
}

.search-footer{
  border-top: 1px solid $text;
  border-bottom: none;
}

.search-facets-active{
  list-style: none;

  li{
    display: inline-block;
    padding:0.5rem;
    border:1px solid $primary;
    margin-bottom: 3px;
    font-size:0.8rem;

    a{
      color:$primary;
    }

    a:after{
      content: '\f00d';
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900;
      color:$primary;
      padding-left: 0.5rem;
    }
  }

  .resource_template_ss{    
    background-color: $primary;

    a{
      color:white;
    }

    a:after{      
      color:white;
    }
  }
}

#form-facets{
  border-top: 1px solid $text;
  padding-top: 1rem;
  margin-top:1rem;
}

.filter-nav .search-facets-list{  
  font-family: $family-primary;

  h4{
    font-weight: 600;
    margin-bottom: 0.3rem;
  }

  .search-facet-items{
    margin-bottom: 0.8rem;
  }
}

/* Tooltip container */
.copy {
  position: relative;
}

/* Tooltip text */
.copy .tooltiptext {
  display:none;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -2rem;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.copy:hover .tooltiptext {
  //visibility: visible;
}

.image-section{
  padding:1rem !important;
  background: #efefef;
  margin: 1.5rem 0;
  width: 100%;
}

.no-title{
  display:none;
}

.expand{
  //margin-left:4px;

  i{
    vertical-align: text-bottom;
  }
}

.metadata-container{
  margin-top:3rem;

  .column{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .columns{
    padding-bottom:1.5rem;
  }

  .extra{
    display: none;
    border-top: 1px solid rgba($primary,1);
    border-bottom: 1px solid rgba($primary,1);
    padding: 2.5rem 0rem 0.5rem 0;
    margin-bottom: 2.5rem;
    margin-top: -1.5rem;
  }
}

.trans-text{
  max-height: 300px;
  overflow: auto;
}

.inventory-wrapper{  

  .tabs{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }  

  #incipitFilter{
    min-width: 250px;
    max-width:100%;
  }

  .select select{
    width: 200px;
    max-width:100%;
    margin-right: 5px;
  }

  #polyphony{
    margin-bottom:0.5rem;
  }

  #chants{
    margin-bottom: 1rem;;
  }

  table{
    max-height: 500px;
    overflow: auto;
    margin-bottom: 2rem;
  }

  .Inventory{
    .is-one-fifth{
      display:none;
    }

    .is-four-fifths{
      width:100%;
    }
  }
}

table{
  margin:0.5rem 0 1rem 0;
  width: 100%;
  border-collapse: collapse;

  td{    
    border-bottom: 1px solid rgba($primary,0.5)
  }

  tr{
    background: white;
  }

  tr:last-child{
    td{    
      border-bottom: none;
    }
  }

  .header-row{
    background-color: rgba($primary,0.2);
  }

  td, th{
    padding:0.4rem;
  }
}

#chantstable{
  .hidden-folio{
    display:none;
  }
}

.text{
  overflow: auto;
  max-height:250px;  
}

.inventory-wrapper{
  .text, #chants{
    overflow: auto;
    max-height:350px;    
    scrollbar-width: thin;
    scrollbar-color: $primary $primary;
  }
}

.more-link{
  display: block;
  padding: 0.4rem 0;
}

footer.footer{
  background-color: white !important;
  font-size: 10px;  
  padding-top:0;
}

#feedback-form{
  margin-top:1rem;
  
  label{
    font-size:0.8rem;
  }

  .input, textarea{
    box-shadow: none;
    border-top:none;
    border-color: #898989;
    padding: 3px;
  }

  .input{
    height: 1.8rem;
  }
}

.guest-anonymous form{
  margin-top:1rem;
  
  label{
    font-size:0.8rem;
    color: #363636;
    display: block;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  input[type="text"],input[type="email"],input[type="password"], textarea{
    box-shadow: none;
    border: 1px solid #898989;
    border-top:none;
    padding: 3px;
    max-width: 100%;
    width: 100%;
  }

  input{
    height: 1.8rem;
  }

  button,input[type="submit"] {
    border-radius: 0;
    padding: 0.5rem 0.74rem;
    background: #c63;
    color: white;
    border: none;
    cursor: pointer;
    height: auto;
  }  
}

.forgot-password{
  margin-top: 1rem;
}

.collapsible {
  cursor:pointer
  }
  
  .tab-pane.is-active {
    display: block;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  }
  .tab-pane {
    display: none;
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
  } 
  
  .player {
    padding: 1rem 0;
    display: none;
    overflow: hidden;
  }