.search-facet-items {   
    max-height: 250px;
    padding: 0.5rem 0;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: $primary $primary;
}

.txtSearch{
    margin-bottom: 0.5rem;
    padding: 0.3rem;
    border: 1px solid rgba($primary, 0.3);

    &:focus-visible{
        border: 1px solid rgba($primary, 0.8);
        box-shadow: none;
        outline:none;
    }
}

.search-facet h4{
    color: $primary;
}

.search-facet-item a{
    color: #333;
}

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba($primary, 0.5);
    border-radius: 20px;
    border: transparent;
}